body {
  background-color: #282c34;
}

nav {
  background-color: #282c34 !important;
  box-shadow: none;
}
.description-section {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 800px;
  text-align: center;
}
.nav-wrapper {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px; /* Adjust this value to your desired spacing */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}


